/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.profil_home{
padding-top: 8px;
}

.close_mail{
width: initial!important;
}

.card-home{
margin-top: 30px;}


.searchBar{
margin-top: 30px;

}

.cardProfil{
margin-top: 30px;

}

.buttonNewMessage{
margin-bottom: 10px;
margin-top: 10px;
}